<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="kx.PerfMon" version="0.4.0" targetFramework="net461" />
  <package id="qSharp" version="2.2.0.0" targetFramework="net461" />
  <package id="qsharp.core.netstandard" version="2.3.1" targetFramework="net461" />
  <package id="qsharp.netstandard" version="2.3.1" targetFramework="net461" />
  <package id="Ronz.Core" version="17.9.17.4" targetFramework="net461" />
  <package id="Ronz.GSDLL32" version="9.23.1" targetFramework="net461" />
  <package id="Ronz.Pdf" version="17.9.21.1" targetFramework="net461" />
  <package id="System.CodeDom" version="5.0.0" targetFramework="net461" />
</packages>